
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>运维自动化平台</title>

    <link rel="stylesheet" href="/statics/css/commons.css"/>
    <link rel="stylesheet" href="/statics/css/backend.css"/>
    <link rel="stylesheet" href="/statics/css/index.css"/>

    <!-- Bootstrap Core CSS -->
    <link href="/statics/plugins/sb-admin/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/statics/plugins/sb-admin/css/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/statics/plugins/sb-admin/css/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="/statics/plugins/sb-admin/css/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/statics/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        {% include "include/header.html" %}

        <div class="pg-body">
            <div class="row" style="margin: 40px 60px;">
                <div class="col-lg-3 col-sm-4 col-xs-6">
                    <div class="info-box default-bg">
                        <i class="fa fa-desktop"></i>
                        <a class="count" href="/cmdb.html">资产</a>

                        <div class="title">CMDB</div>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-4 col-xs-6">
                    <div class="info-box blue-bg">
                        <i class="fa fa-cog"></i>
                        <a class="count" href="/configration/order/">配管</a>

                        <div class="title">configuration</div>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-4 col-xs-6">
                    <div class="info-box brown-bg">
                        <i class="fa fa-cloud"></i>

                        <div class="count">私有云</div>
                        <div class="title">OpenStack</div>
                    </div>
                </div>


                <div class="col-lg-3 col-sm-4 col-xs-6">
                    <div class="info-box green-bg">
                        <i class="fa fa-eye"></i>

                        <div class="count">监控</div>
                        <div class="title">Monitor</div>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-4 col-xs-6">
                    <div class="info-box twitter-bg">
                        <i class="fa fa-connectdevelop"></i>

                        <div class="count">堡垒机</div>
                        <div class="title">Bastion</div>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-4 col-xs-6">
                    <div class="info-box task-bg">
                        <i class="fa fa-tasks"></i>

                        <div class="count">任务</div>
                        <div class="title">Task</div>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-4 col-xs-6">
                    <div class="info-box dns-bg">
                        <i class="fa fa-tasks"></i>
                        <a class="count" href="/dns/zone/">DNS</a>

                        <div class="title">Dynamic DNS</div>
                    </div>
                </div>


                <div class="col-lg-3 col-sm-4 col-xs-6">
                    <div class="info-box pool-bg">
                        <i class="fa fa-skyatlas"></i>
                        <a class="count" href="/pool/ipaddr/">资源池</a>

                        <div class="title">resource pool</div>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-4 col-xs-6">
                    <div class="info-box flow-bg">
                        <i class="fa fa-recycle"></i>
                        <a class="count" href="/publisher/index/">发布</a>

                        <div class="title">publisher</div>
                    </div>
                </div>

        {#        <div class="col-lg-3 col-sm-4 col-xs-6">#}
        {#            <div class="info-box gray-bg">#}
        {#                <i class="fa fa-plus"></i>#}
        {##}
        {#                <div class="count">添加</div>#}
        {#                <div class="title">ADD</div>#}
        {#            </div>#}
        {##}
        {#        </div>#}

            </div>
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
{#    <script src="/statics/plugins/sb-admin/js/jquery.min.js"></script>#}
    <script src="/statics/js/jquery-2.1.1.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/statics/plugins/sb-admin/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/statics/plugins/sb-admin/js/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
{#    <script src="/statics/plugins/sb-admin/js/sb-admin-2.js"></script>#}

</body>

</html>
