{% extends "cmdb/include/page_temp.html" %}
{% load cmdb_asset %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.15/css/jquery.dataTables.css">
{#    <link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/plug-ins/28e7751dbec/integration/bootstrap/3/dataTables.bootstrap.css">#}
{% endblock %}

{% block page-wrapper %}
    <div id="page-wrapper">
        <div class="navbar" id="breadcrumb" style="margin-bottom: 0">
            <div class="navbar-inner">
                <ul class="breadcrumb">
                    <li>
                        <a href="/cmdb/">首页</a>

                    </li>
                    <li class="active">资产管理</li>
                </ul>
            </div>
        </div>
        <div class="row-fluid">
                <div class="span12" style="margin: 0 5px">
                    <div class="btn-toolbar" style="padding: 0 0 10px 0;">
                        <button type="button" class="btn btn-default" id="btn-checked-all" onclick="CheckedAll()"> 全选</button>
                        <button type="button" class="btn btn-default" id="btn-checked-invert" onclick="CheckedInvert()"> 反选</button>
                        <a href="?type=create"><button type="button" class="btn btn-primary" id="btn-add"><i class="fa fa-plus"></i> 添加</button></a>
                        <button type="button" class="btn btn-danger" id="btn-del"><i class="fa fa-remove"></i> 批量删除</button>
                    </div>
                </div>
            </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default" style="margin: 0 5px">

                    <div class="panel-body">
                        <table id="table_id_example" class="display row-border" style="font-size: 8px">
                            <thead>
                                <tr>
                                    <th>选择</th>
                                    <th>序号</th>
                                    <th>资产类型</th>
                                    <th>主机名</th>
                                    <th>网络标识</th>
                                    <th>IDC</th>
                                    <th>机柜号</th>
                                    <th>位置</th>
                                    <th>业务线</th>
                                    <th>资产状态</th>
                                    <th>标签</th>
                                    <th>选项</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for obj in cmdb_models_obj %}
                                    <tr>
                                        <td nid="{{ obj.id }}"><input onclick="CheckboxFcun(this)"  type="checkbox" /></td>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{% display_asset_type_name obj %}</td>
                                        <td>{{ obj.server.hostname }}</td>
                                        <td>{{ obj.networkdevice.management_ip }}</td>
                                        <td>{{ obj.idc.name }}</td>
                                        <td>{{ obj.cabinet_num }}</td>
                                        <td>{{ obj.cabinet_order }}</td>
                                        <td>{{ obj.business_unit.name }}</td>
                                        <td>{% display_asset_status_name obj %}</td>
                                        <td>{% display_asset_tags_name obj %}</td>
                                        <td>
                                            <a href="?type=select&id={{ obj.id }}">查看详细</a> |
                                            <a href="?type=edit&id={{ obj.id }}">编辑</a>
                                        </td>
                                    </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>
{% endblock %}

{% block script %}
    <!-- DataTables -->
    <script type="text/javascript" charset="utf8" src="http://cdn.datatables.net/1.10.15/js/jquery.dataTables.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/statics/plugins/sb-admin/js/sb-admin-2.js"></script>

    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>

    $(document).ready( function () {
        $('#table_id_example').DataTable();
    } );

    $('#table_id_example').DataTable( {
        "pageLength": 10,       // 默认显示10行
{#        "pagingType":   "full_numbers",     //#}

        language: {
            "sProcessing": "处理中...",
            "sLengthMenu": "显示 _MENU_ 项结果",
            "sZeroRecords": "没有匹配结果",
            "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
            "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
            "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
            "sInfoPostFix": "",
            "sSearch": "搜索:",
            "sUrl": "",
            "sEmptyTable": "表中数据为空",
            "sLoadingRecords": "载入中...",
            "sInfoThousands": ",",
            "oPaginate": {
                "sFirst": "首页",
                "sPrevious": "上页",
                "sNext": "下页",
                "sLast": "末页"
            },
            "oAria": {
                "sSortAscending": ": 以升序排列此列",
                "sSortDescending": ": 以降序排列此列"
            }
        }
    } );

    $(function () {

        // 给搜索框加样式
        $("#table_id_example_filter input").addClass('form-control');
        $("#table_id_example_filter input").attr('style', 'display: inline-block;width: 80%;');

        // 点击表格行选中第一列复选框
        $("#table_id_example tbody tr").click(function () {
            console.log($(this).find('input[type=checkbox]').prop("checked"));


            var input_status = $(this).find('input').prop("checked");
            console.log(input_status)

            if (input_status){
                $(this).find('input').prop("checked", false);
            }else{
                $(this).find('input').prop("checked", true);
            }
        })
    });

    function CheckedAll() {
        // 全选
        $("#table_id_example tbody input:checkbox").prop("checked", true);
    }

    function CheckedInvert() {
        // 反选
        $("#table_id_example tbody input:checkbox").each(function () {
            var checked_status = $(this).prop("checked");
            if(checked_status){
                $(this).prop("checked", false);
            }else{
                $(this).prop("checked", true);
            }
        })
    }

    function CheckboxFcun(obj) {
        // 当行首的 checkbox 被单机时触发
        if(checked_status){
            $(obj).prop("checked", false);
        }else{
            $(obj).prop("checked", true);
        }
    }

    </script>
{% endblock %}
